<% dynamic_header = @completed == true ? (['completed_at']) : (['status','created_at'])
flag = @completed == true ? ('completed') : 'active' %>
<% ['checkbox','description', 'priority'].concat(dynamic_header).each do |header|%>
<th class= "headers <%=header%>" id = '<%='description_th' if header=='description'%>'><div class='headers_container arrow_down' <%='hidden' if header=='checkbox'%> style= <%= "display:table-cell;" unless header == 'checkbox' %>   id= "<%=header%>" onclick="sort_table_by(this, '<%=flag%>')"><%=header.capitalize!%></div></th>
<%end%>