<%if @tasks ==  nil%>
<p>No records found</p>
<%else%>
<table cellspacing="0">
<tbody>
<tr class='task-items'></tr>
<tr>
<% @completed = true %>
<%= render partial: '/todo/shared/headers' %>
</tr>
<%@tasks.each do |task|%>
<tr class="<%=task.id%> to-be-hovered" onmouseover = "$('.<%=task.id%>_action').show()" onmouseout = "$('.<%=task.id%>_action').hide()">
<% %w{description priority completed_at}.each do |attr|%>
<td onmouseover= "show_header('div#<%=attr%>')" onmouseleave = "hide_header('div#<%=attr%>')"><%= task.send attr %></td>
<%end%>
<td><%= button_to 'Delete', "/todo/completed_tasks/#{task.id}", method: :delete, class: "delete #{task.id}_action", style: 'display: none;',remote: true %></td>
<td><%= link_to 'Reopen', reopen_todo_completed_task_path(task.id), method: :put, class: "reopen #{task.id}_action", style: 'display: none;', remote: true %></td>
</tr>
<%end%>
</tbody>
</table>
<%end%>

