<%if @tasks ==  nil%>
<p>No records found</p>

<%else%>
<table cellspacing="0" style="width:653px; margin-top:3px;">
<tbody>
<tr class='task-items'></tr>
<tr style="width:653px;">
<% @completed = true %>
<%= render partial: '/todo/shared/headers' %>
<th style='width:50px;background-color: #E7E9D3;'></th>
<th style='width:20px;background-color: #E7E9D3;'></th>
<th style='width:50px;background-color: #E7E9D3;'></th>
</tr>
</tbody>
</table>

<div id='completed_tasks_container'>
<table cellspacing="0">
<tbody>
<%@tasks.each do |task|%>
<%if task == nil%>
<%'do nothing'%>
<%else%>
<tr class="<%=task.id%> to-be-hovered completed" onmouseover = "show_actions(<%=task.id%>), bold(this)" onmouseout = "hide_actions(<%=task.id%>), unbold(this)">
<% @task = task %>
<%= render partial: '/todo/shared/checkbox', locals: {task: @task} %>

<% %w{description priority completed_at}.each do |attr|%>
<td id='<%=attr%>' class='items'><%= task.send attr %></td>
<%end%>
<td style = 'width: 50px;'><%= button_to '✘', "/todo/completed_tasks/#{task.id}", method: :delete, class: "delete #{task.id}_action", style: 'display: none',remote: true %></td>
<td style = 'width: 20px;'><span style = 'display: none' class='pipe<%=task.id%> separator' >❘</span></td>
<td style = 'width: 50px;'><%= link_to '↺', reopen_todo_completed_task_path(task.id), method: :put, class: "reopen #{task.id}_action", style: 'display: none', remote: true %></td>
</tr>
<%end%>
<%end%>
</tbody>
</table>
</div>
<%end%>

