<%if @tasks ==  nil%>
<p>No records found</p>

<%else%>
<% @completed = true %>
<div style = 'width: 500px;height: 51px;top: 0px;'>
<%= render '/todo/shared/checkbox_buttons' %>
</div>
<%#<div id='filters_container' style="margin-top: 5px; margin-left: 469px;">
<select id= 'elapsed_time' rel='tooltip' title='time filter' onchange = "apply_time_filter($(this).find('option:selected').text())">
<option selected='selected'>⌚<option>
<%@time_filter.each do |opt|%>
<!--<option><%#<%= opt.id2name %></option>-->
<%#<%end%>
<!--</select>--> 

<%#<select id= 'priority_set' rel='tooltip' title='priority filter' onchange = "apply_priority_filter($(this).find('option:selected').text())">
<option selected="selected" >!</option>
<%@priorities.each do |opt|%>
<%#<option><%= opt.id2name %><!--</option>
<%#<%end%>
</select>
</div>-->

<!--<ul id='main-ul'>
<li id='main-li'>
    high
    <ul id='secondary-ul'>
      <li class='secondary-li'>medium</li>
      <li class='secondary-li'>low</li>
    </ul>
  </li>-->

<table cellspacing="0" style="width: 814px;margin-top:6px;" id='blue_table'>
<tbody style= 'background: rgba(255, 255, 255, 0.5); width: 814px;'>
<tr>
<%= render partial: '/todo/shared/headers' %>
<th style='width:50px;'></th>
<th style='width:20px;'></th>
<th style='width:50px;'></th>
</tr>
<tr class='task-items'></tr>
</tbody>
</table>

<div id='completed_tasks_container'>
<table cellspacing="0">
<tbody> 
<%@tasks.each do |task|%>
<%if task == nil%>
<%'do nothing'%>
<%else%>
<tr class="<%=task.id%> to-be-hovered completed" onmouseover = "show_actions(<%=task.id%>), bold(this)" onmouseout = "hide_actions(<%=task.id%>), unbold(this)">
<% @task = task %>
<%= render partial: '/todo/shared/checkbox', locals: {task: @task} %>

<% %w{description priority completed_at}.each do |attr|%>
<% value = task.send attr %>
<%get_translated(attr, value)%>
<td id='<%=attr%>' class='items'><div><%= @res %></div></td>
<%end%>
<td style = 'width: 50px;'><%= link_to '↺', reopen_todo_completed_task_path(task.id), method: :patch, class: "reopen #{task.id}_action", style: 'display: none', remote: true %></td>
<td style = 'width: 20px;'><span style = 'display: none' class='pipe<%=task.id%> separator' >❘</span></td>
<td style = 'width: 50px;'><%= button_to '✘', "/todo/completed_tasks/#{task.id}", method: :delete, class: "delete #{task.id}_action", style: 'display: none',remote: true %></td>
</tr>
<%end%>
<%end%>
</tbody>
</table>
</div>
<%end%>

