<td style = "width: 50px;"><div style="padding: 1px 8px 0;"><%= link_to '✔', complete_todo_active_task_path(@task.id), method: :put, class: "complete #{@task.id}_action",style: 'display: none', remote: true %></div></td>
<td style = "width: 20px;" ><span style = 'display: none' class='pipe<%=@task.id%> separator'>❘</span></td>
<td style = "width: 50px;"><%= button_to '✘', "/todo/#{@task.id}", method: :delete, class: "delete #{@task.id}_action",style: 'display: none',remote: true %></td>
<td style="width: 20px;"><span style = 'display: none' class='pipe<%=@task.id%> separator' >❘</span></td>
<td style="width: 120px;">
<button onclick = "trigger_on_edit(<%=@task.id.to_s%>,<%= @dropdown%>,this)",
style = 'display: none' class = '<%=@task.id%>_action edit'>✎</button>
<%= render 'ok_cancel', locals: { task: @task, dropdown: @dropdown } %>
</td>




