<td>
<%#make the chosen values default for given dropdowns%>
<button onclick = "$('div#description<%=@task.id.to_s%>').attr('contenteditable','true');
 $('div#priority<%=@task.id.to_s%>').replaceWith('<div><select><option>high</option><option>medium</option><option>low</option></select></div>');
 $('div#status<%=@task.id.to_s%>').replaceWith('<select><option>open</option><option>in progress</option></select>'); $('#<%= @dropdown%>').show();",
style = 'display: none;' class = '<%=@task.id%>_action'>
Edit</button>
<%= render 'ok_cancel', locals: { task: @task, dropdown: @dropdown } %>
</td>
<td><%= button_to 'Delete', "/todo/active_tasks/#{@task.id}", method: :delete, class: "delete #{@task.id}_action",style: 'display: none;',remote: true %></td>
<td><%= link_to 'Complete', complete_todo_active_task_path(@task.id), method: :put, class: "complete #{@task.id}_action",style: 'display: none;', remote: true %></td>
