<td class = 'fix-sized-1'><div class='spare_space'><%= link_to '✔', complete_todo_active_task_path(@task.id), method: :put, class: "complete #{@task.id}_action",style: 'display: none;', remote: true %></div></td>
<td class = 'fix-sized-3' ><span style = 'display: none;' class='pipe<%=@task.id%> separator'>❘</span></td>
<td class = 'fix-sized-1'><%= button_to '✘', "/todo/active_tasks/#{@task.id}", method: :delete, class: "delete #{@task.id}_action",style: 'display: none;',remote: true %></td>
<td class = 'fix-sized-3'><span style = 'display: none;' class='pipe<%=@task.id%> separator' >❘</span></td>
<td class = 'fix-sized-2'>
<button onclick = "trigger_on_edit(<%=@task.id.to_s%>,<%= @dropdown%>,this)",
style = 'display: none;' class = '<%=@task.id%>_action edit'>✎</button>
<%= render 'ok_cancel', locals: { task: @task, dropdown: @dropdown } %>
</td>




