<span class='tooltip_3'>reopen</span>


<div class='shadow'>
<div id='notification_container'></div>
<ul id="mycarousel" class="jcarousel-skin-tango">
<li>
<%= render '/todo/shared/checkbox_buttons' %>
<%= render 'new', locals: {priority: @priority}%>
<table cellspacing="0" style='margin-top: 5px;'>
<tbody>
<tr>
<%= render partial: '/todo/shared/headers' %>
<th style='width:50px;background-color: #E7E9D3;' id='complete'></th>
<th style='width:20px;background-color: #E7E9D3;' id='delete'></th>
<th style='width:50px;background-color: #E7E9D3;' id= 'edit'></th>
<th style='width:20px;background-color: #E7E9D3;'></th>
<th style='width:120px;background-color: #E7E9D3;'></th>
</tr>
<tr class='task-items'></tr>
</tbody>
</table>

<div id='tasks_container'>
<table cellspacing="0" id='2'>
<tbody id = '2'>
<%@tasks.each do |task|%>
<tr id = "for_edit_<%=task.id.to_s%>" class="be_hovered <%=task.id%> <%=task.priority%>" onmouseover = "show_actions(<%=task.id%>), bold(this)" onmouseout = "hide_actions(<%=task.id%>), unbold(this)" >

<% @task = task %>
<%= render partial: '/todo/shared/checkbox', locals: {task: @task} %>
<% %w{ description priority status created_at }.each do |attr|%>
<% res = task.send attr %>
<td id = '<%=attr%>' class='items <%=res%>'><div id = "<%=attr + task.id.to_s%>" onblur= "set_noneditable(this)"><%= res %></div></td>
<span id='<%=attr + task.id.to_s%>_span' style = 'display:none'><%=res%></span>
<% @dropdown ="#{task.id.to_s}" %>
<%end%> 
<%@task = task%>
<%= render 'delete_complete_update', locals: { task: @task, priority: @priority, dropdown: @dropdown }%>
</tr>
<%end%>
</tbody>
</table>
</div>
</li>
<li id= 'second_item'>	
<div id= 'to-be-removed-by-filter-selection'>
</div>
</li>
</ul>
</div>