<%= render 'new', locals: {priority: @priority}%>

<table cellspacing="0">
<tbody>
<tr>
<%= render partial: '/todo/shared/headers' %>
</tr>
<tr class='task-items'></tr>
</tbody>
</table>

<div id='tasks_container'>
<table cellspacing="0">
<tbody>
<%@tasks.each do |task|%>
<tr id = "for_edit_<%=task.id.to_s%>" class="be_hovered <%=task.id%> <%=task.priority%>" onmouseover = "show_actions(<%=task.id%>), bold(this)" onmouseout = "hide_actions(<%=task.id%>), unbold(this)" >
<%  
%w{ description priority status created_at }.each do |attr|%>
<td id = '<%=attr%>' class='items' ><div onmouseover= "show_header('div#<%=attr%>')" 
 onmouseleave = "hide_header('div#<%=attr%>')" 
id = "<%=attr + task.id.to_s%>" onblur= "set_noneditable(this)"><%= res= task.send attr %></div></td>
<span id='<%=attr + task.id.to_s%>_span' style = 'display:none;'><%=res%></span>
<% @dropdown ="#{task.id.to_s}" %>
<%end%> 
<%@task = task%>
<%= render 'delete_complete_update', locals: { task: @task, priority: @priority, dropdown: @dropdown }%>
</tr>
<%end%>
</tbody>
</table>
</div>
