<%= render 'new', locals: {priority: @priority}%>
<div>
<table cellspacing="0">
<tbody>
<tr>
<% %w{ description priority status created_at }.each do |header|%>
<th><div hidden id= "<%=header%>" ><%=header.capitalize!%></div></th>
<%end%>
</tr>
<tr class='task-items'></tr>
<%@tasks.each do |task|%>
<tr class="<%=task.id%> to-be-hovered" onmouseover = "show_actions(<%=task.id%>)" onmouseout = "hide_actions(<%=task.id%>)" >
<%  
%w{ description priority status created_at }.each do |attr|%>
<td ><div onmouseover= "$('div#<%=attr%>').removeAttr('hidden');" 
 onmouseleave = "$('div#<%=attr%>').attr('hidden', 'true');" 
id = "<%=attr + task.id.to_s%>" onblur= "$(this).attr('contenteditable','false');"><%= res= task.send attr %></div></td>
<span id='<%=attr + task.id.to_s%>_span' style = 'display:none;'><%=res%></span>
<% @dropdown ="#{task.id.to_s}" %>
<%end%> 
<%@task = task%>
<%#not yet implemented for the create action rendering %>
<%= render 'delete_complete_update', locals: { task: @task, priority: @priority, dropdown: @dropdown }%>
</tr>
<%end%>
</tbody>
</table>
</div>