
<%= render 'new', locals: {priority: @priority}%>
<div>
<table cellspacing="0">
<tbody>
<tr class='task-items'></tr>
<%@tasks.each do |task|%>
<tr class="<%=task.id%> to-be-hovered" onmouseover = "$('.<%=task.id%>_action').show()" onmouseout = "$('.<%=task.id%>_action').hide()" >
<% %w{description priority status created_at}.each do |attr|%>
<td><div id = "<%=attr+ task.id.to_s%>" onblur= "$(this).attr('contenteditable','false');"><%= task.send attr %></div></td>
<%end%>
<%@task = task%>
<%#not yet implemented for the create action rendering %>
<%= render 'delete_complete_update', locals: { task: @task, priority: @priority }%>
</tr>
<%end%>
</tbody>
</table>
</div>