<%= render 'new', locals: {:priority => @priority}%>
<div>
<%@tasks.each do |task|%>
<table>
<tr>
	<td><%= task.description%></td>
	<td><%= task.priority%></td>
	<td><%= task.status%></td>
	<td><%= task.created_at%></td>
</tr>
</table>
<%end%>
</div>