<div style='width: 310px; height:28px;margin-left: 500px; position: fixed;z-index: 20; float: top: 0px; right: 4px;'><span id='current_user'><%= current_user.email%></span>
<ul id='main-ul'>
  <li id='main-li'>
   <img src="<%=I18n.locale == :en ? '/assets/images/GB.png' : '/assets/images/ukrainian.png'%>" id='first-flag'>
    <ul id='secondary-ul'>
      <li class='secondary-li' onclick="translate_app(this)"> <img src="<%=I18n.locale == :en ? '/assets/images/ukrainian.png' : '/assets/images/GB.png'%>" id='second-flag' ></li>
    </ul>
  </li>
 </ul>
<%= link_to t(:views)[:signed_out_link], '/todo/user/signout', method: :delete, id: 'signout' %></div>
<span class='tooltip_3'>reopen</span>
<div class='shadow'>
<div id='notification_container'></div>
<ul id="mycarousel" class="jcarousel-skin-tango">
<li>
<%= render '/todo/shared/checkbox_buttons' %>
<%= render 'new', locals: {priority: @priority}%>
<table cellspacing="0" style='margin-top: 5px;' id='1'>
<tbody style= 'background: rgba(255, 255, 255, 0.5); width: 1073px;'>
<tr style='width:1073px;'>
<%= render partial: '/todo/shared/headers' %>
<th style='width:50px;' id='complete'></th>
<th style='width:20px;' id='delete'></th>
<th style='width:50px;' id= 'edit'></th>
<th style='width:20px;'></th>
<th style='width:131px;'></th>
</tr>
<tr class='task-items'></tr>
</tbody>
</table>
<div id='toberemovedbyactive' style='height: 580px;'>
<%=render partial: 'active_tasks_grid', local: {priorities: @priorities, tasks: @tasks}%>
</div>
</li>
<li id= 'second_item'>	
<div id= 'to-be-removed-by-filter-selection' style='margin-top: 0px;'>
</div>
</li>
</ul>
</div>

<div id='validation' style='display:none;'><%= t(:validations)[:new_task]%></div>
<%= render "/todo/shared/tooltip_titles"%>