<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
<%= stylesheet_link_tag "application" %> 
<%= stylesheet_link_tag controller.controller_name =~ /active_tasks|global_actions/ ? 'tasks_wallpaper' : 'devise_wallpaper' %>  
  <%#cache:all to make all css fetched a sa single file %>
  <%= javascript_include_tag 'application', 'jcarousel-plugin/lib/jquery-1.9.1.min','jcarousel-plugin/lib/jquery.jcarousel.min', 'tooltip', 'easy.notification'%> <%#cache:all to make all js fetched a sa single file %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='global_header'>
<%= favicon_link_tag 'squirrel.ico'%>
</header>
<div id='authentication_views'>
<%= yield %>
</div>
</body>
</html>